@import './usercard/UserCard.scss';

aside.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  width: 200px;
  background-color: #e2eeff;
  .menu-toggle {
    background: rgba(69, 75, 86, .2);
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
  }
  .logo-wrap {
    max-width: 160px;
    margin-left: 30px;
    margin-top: 10px;
  }
  .logo {
    padding-right:9px;
    width:80%;
  }
  .img {
    max-width: 100%;
  }
  .flat-button {
    display: flex;
    flex: 1;
    .menu-item{
      text-decoration:none;
      display:flex;
      flex:1;
      justify-content: center;
      align-items: center;
      padding-left:25px;
      .button-text {
        margin-top:5px;
        display: flex;
        flex: 1;
        margin-left: 10px;
        color: #95aac6!important;
      }
      svg{
        fill: #95aac6 !important;
      }
    }
  }
  .flat-button:hover {
    background-color: rgba(0, 0, 0, .07) !important;
    .button-text{
      color:#65768e!important;
    }
    svg {
      fill: #65768e!important;
    }
  }
  .flat-button:focus{
    background-color: rgba(232, 242, 255, .4) !important;
  }
  .add-task-wrapper{
    position:relative;
    left:50%;
    transform:translateX(-30%);
    top:40px;
  }
}