@import './tasktable/TaskTable.scss';

.Home{
  .home-content{
    margin-left:210px;
    margin-top:100px;
    margin-right:10px;
    .cards-grid{
      margin: 0 20px;
      display:grid;
      grid-gap: 2em;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .see-all-wrapper{
      position:relative;
      top:20px;
      left:20px;
      width:calc(100% - 20px);
    }
  }
}