@import './styles/variables';
@import './pages/pages.scss';
@import './layout/layout.scss';
@import './components/components.scss';
@import './styles/autocomplete';
@import './styles/global';
@import './styles/material-rewrites';
@import './styles/text';

.App {
  height: 100%;
  display: flex;
  flex-direction: row;
}
/* Content - Main area */

.App-Content {
  display:flex;
  flex: 1;
  overflow-x:hidden !important;
  background: #fbfdff;
  // background: $background;
}

// wrapper for public pages: login, register, reset password
.public-pages {
  display: flex;
  flex: 1;
  background: #727982;
  justify-content: center;
  align-items: center;
}

.login-button button{
  background: #6b7c93 !important;
}