.Dashboard {
  display: flex;
  flex: 1;
  background: ghostwhite; }

.register {
  width: 400px;
  position: relative; }
  .register .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .register .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .register .input-wrap {
    margin-bottom: 10px; }
  .register footer {
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee; }
  .register .styledRouterLink {
    color: #333;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center; }
  .register .logo-wrap {
    position: absolute;
    top: -40px; }
  .register img.logo {
    max-width: 160px;
    position: absolute; }
  .register .error {
    color: crimson;
    margin: 5px 0; }

.login {
  width: 400px;
  position: relative; }
  .login .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .login .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .login .input-wrap {
    margin-bottom: 10px; }
  .login footer {
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee; }
  .login .styledRouterLink {
    color: #333;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center; }
  .login .logo-wrap {
    position: absolute;
    top: -40px; }
  .login img.logo {
    max-width: 160px;
    position: absolute; }
  .login .error {
    color: crimson;
    margin: 5px 0; }

.reset-password {
  width: 400px;
  position: relative; }
  .reset-password .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .reset-password .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .reset-password .input-wrap {
    margin-bottom: 10px; }
  .reset-password footer {
    padding: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee; }
  .reset-password .styledRouterLink {
    color: #333;
    text-decoration: none;
    display: flex;
    flex: 1;
    justify-content: center; }
  .reset-password .logo-wrap {
    position: absolute;
    top: -40px; }
  .reset-password img.logo {
    max-width: 160px;
    position: absolute; }
  .reset-password .error {
    color: crimson;
    margin: 5px 0; }

/* change input's yellow autocompleted style */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.1) inset !important; }

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  height: 100%; }

body > div {
  height: 100%; }

img {
  max-width: 100%; }

.successButton button {
  background-color: #51D399 !important; }

.dangerButton button {
  background-color: crimson !important; }

/* Material rewrites  */
.flex-1 {
  display: flex !important;
  flex: 1;
  flex-direction: column; }

.flex-1 input {
  width: 100%; }

.input-wrapper {
  margin-top: 10px;
  font-size: 14px !important;
  height: 62px !important; }

.input-wrapper label {
  color: #6d7e94 !important;
  top: 24px !important; }

.input-wrapper input {
  height: 60% !important;
  margin-top: 23px !important;
  padding: 0 10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important; }

.input-wrapper hr {
  bottom: 2px !important; }

.textarea-wrapper {
  margin-top: 10px;
  font-size: 14px !important;
  min-height: 62px !important; }

.textarea-wrapper label {
  color: #6d7e94 !important;
  top: 24px !important; }

.textarea-wrapper textarea {
  margin-top: 23px !important;
  margin-bottom: 20px;
  padding: 10px !important;
  background-color: rgba(0, 0, 0, 0.05) !important; }

.textarea-wrapper hr {
  bottom: 25px !important; }

.datepicker-wrapper {
  font-size: 14px !important;
  min-height: 62px !important;
  cursor: pointer; }

.datepicker-wrapper hr {
  display: none !important; }

.datepicker-wrapper label {
  color: #6d7e94 !important;
  top: 24px !important; }

.datepicker-wrapper input {
  height: 50% !important;
  margin-top: 23px !important;
  margin-bottom: 20px;
  padding: 10px !important;
  border-radius: 20px;
  border: 1px dashed #6b7c93 !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  text-align: center;
  cursor: pointer !important; }

.datepicker-wrapper hr {
  bottom: 12px !important; }

.input-wrapper.no-label {
  margin-top: 0 !important;
  position: relative;
  top: -10px; }

.input-wrapper.no-label.checklist-input {
  /* border: 1px solid red; */
  width: 100% !important;
  overflow: hidden; }

.input-wrapper.no-label input {
  margin: 0 !important; }

.input-wrapper.no-label hr {
  bottom: 24px !important; }

h1 {
  font-size: 28px;
  font-weight: normal;
  color: #3f4a77; }

h1.big {
  font-size: 32px;
  font-weight: bold;
  color: #3f4a77; }

h1.page-header {
  margin: 0;
  color: #3f4a77; }

h2 {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  color: #3f4a77; }

p,
span {
  font-size: 16px;
  color: #3f4a77; }

.center {
  text-align: center; }

.App {
  height: 100%;
  display: flex;
  flex-direction: row; }

/* Content - Main area */
.App-Content {
  flex: 1;
  padding: 20px; }

.public-pages {
  display: flex;
  flex: 1;
  background: gainsboro;
  justify-content: center;
  align-items: center; }
