.TaskTable {
  margin: 0 20px;
  border: 2px solid #f3f5fc;
  border-radius: 5px; }
  .TaskTable tr th {
    font-weight: 600 !important;
    color: #5d6798 !important;
    text-align: center !important; }
  .TaskTable tr td {
    padding: 4px !important; }
  .TaskTable tbody {
    background: #f4f9ff !important; }
    .TaskTable tbody tr:hover {
      background: rgba(140, 165, 212, 0.07) !important; }
    .TaskTable tbody tr td {
      font-size: 12px !important;
      color: #7e8ccc !important;
      text-align: center !important; }
    .TaskTable tbody tr .table-actions {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center; }
      .TaskTable tbody tr .table-actions .table-button-wrapper {
        position: relative;
        top: -3px;
        align-self: center; }
        .TaskTable tbody tr .table-actions .table-button-wrapper button {
          width: 30px !important;
          height: 30px !important; }
          .TaskTable tbody tr .table-actions .table-button-wrapper button svg {
            width: 18px !important;
            height: 18px !important;
            fill: #7e8ccc !important; }
          .TaskTable tbody tr .table-actions .table-button-wrapper button span {
            position: relative;
            top: 6px !important;
            left: 6px !important; }
    .TaskTable tbody tr .red {
      background: #ffd6d6 !important;
      color: #964646 !important;
      padding: 3px 18px;
      border-radius: 15px;
      border: 1px solid rgba(150, 70, 70, 0.27) !important;
      font-weight: 600;
      font-size: 12px; }
    .TaskTable tbody tr .green {
      background: #ddffe8 !important;
      color: #469660 !important;
      padding: 3px 18px;
      border-radius: 15px;
      border: 1px solid rgba(70, 150, 96, 0.27) !important;
      font-weight: 600;
      font-size: 12px; }
  .TaskTable .button-wrapper {
    position: absolute;
    top: 17px;
    right: 20px; }
    .TaskTable .button-wrapper button {
      padding: 0 !important;
      height: 24px !important;
      width: 24px !important; }
    .TaskTable .button-wrapper svg {
      height: 15px !important;
      width: 15px !important;
      fill: #5d6798 !important; }
    .TaskTable .button-wrapper span {
      position: relative;
      top: 8px !important;
      left: 5px !important;
      height: 16px !important;
      width: 16px !important;
      display: none; }
    .TaskTable .button-wrapper div {
      top: -5px !important; }
      .TaskTable .button-wrapper div div span {
        left: 0px !important;
        top: 0px !important;
        color: #f4f4f4 !important;
        font-size: 10px !important; }
  .TaskTable .popover-wrapper {
    position: relative;
    top: 20px; }
  .TaskTable .task-dropdown-wrapper svg {
    height: 15px !important;
    width: 15px !important;
    fill: #5d6798 !important; }

.Home .home-content {
  margin-left: 210px;
  margin-top: 100px;
  margin-right: 10px; }
  .Home .home-content .cards-grid {
    margin: 0 20px;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr 1fr; }
  .Home .home-content .see-all-wrapper {
    position: relative;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px); }
