.Dashboard {
  display: flex;
  flex: 1;
  background: ghostwhite; }

.register {
  width: 400px;
  position: relative;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.75); }
  .register .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .register .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .register .input-wrap {
    margin-bottom: 10px; }
  .register footer {
    font-size: 12px;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    background-color: #eee; }
  .register .logo-wrap {
    position: absolute;
    top: -40px; }
  .register img.logo {
    max-width: 160px;
    position: absolute; }
  .register .error {
    color: crimson;
    margin: 5px 0; }
  .register .register-link {
    text-decoration: none;
    padding: 20px;
    transition: all .1s linear; }
  .register .register-link:visited {
    color: inherit; }
  .register .register-link:hover {
    background-color: rgba(197, 210, 226, 0.5);
    color: #444444; }
  .register .h4 {
    font-weight: 400;
    font-size: 20px; }

.login {
  width: 400px;
  position: relative;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.75); }
  .login .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .login .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .login .input-wrap {
    margin-bottom: 10px; }
  .login footer {
    font-size: 12px;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #eee; }
  .login .logo-wrap {
    position: absolute;
    top: -40px; }
  .login img.logo {
    max-width: 160px;
    position: absolute; }
  .login .error {
    color: crimson;
    margin: 5px 0; }
  .login .login-link {
    text-decoration: none;
    position: relative;
    padding: 20px;
    transition: all .1s linear; }
  .login .login-link:visited {
    color: inherit; }
  .login .login-link:hover {
    background-color: rgba(197, 210, 226, 0.5);
    color: #444444; }
  .login .h4 {
    font-weight: 400;
    font-size: 20px; }

.reset-password {
  width: 400px;
  position: relative;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px; }
  .reset-password .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff;
    border-radius: 2px 2px 0 0; }
  .reset-password .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .reset-password .input-wrap {
    margin-bottom: 10px; }
  .reset-password footer {
    font-size: 12px;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    background-color: #eee;
    border-radius: 0 0 2px 2px; }
  .reset-password .logo-wrap {
    position: absolute;
    top: -40px; }
  .reset-password img.logo {
    max-width: 160px;
    position: absolute; }
  .reset-password .error {
    color: crimson;
    margin: 5px 0; }
  .reset-password .reset-link {
    text-decoration: none;
    padding: 20px;
    transition: all .1s linear; }
  .reset-password .reset-link:visited {
    color: inherit; }
  .reset-password .reset-link:hover {
    background-color: rgba(197, 210, 226, 0.5);
    color: #444444; }
  .reset-password .h4 {
    font-weight: 400;
    font-size: 20px; }

.TaskTable {
  margin: 0 20px;
  border: 2px solid #f3f5fc;
  border-radius: 5px; }
  .TaskTable tr th {
    font-weight: 600 !important;
    color: #5d6798 !important;
    text-align: center !important; }
  .TaskTable tbody {
    background: #f4f9ff !important; }
    .TaskTable tbody tr:hover {
      background: rgba(140, 165, 212, 0.07) !important; }
    .TaskTable tbody tr td {
      font-size: 12px !important;
      color: #555e88 !important;
      text-align: center !important; }
    .TaskTable tbody tr .table-actions {
      display: grid;
      grid-template-columns: auto auto auto;
      align-items: center; }
      .TaskTable tbody tr .table-actions .table-button-wrapper {
        position: relative;
        top: -3px;
        align-self: center; }
        .TaskTable tbody tr .table-actions .table-button-wrapper button {
          width: 30px !important;
          height: 30px !important; }
          .TaskTable tbody tr .table-actions .table-button-wrapper button svg {
            width: 18px !important;
            height: 18px !important;
            fill: #555e88 !important; }
          .TaskTable tbody tr .table-actions .table-button-wrapper button span {
            position: relative;
            top: 6px !important;
            left: 6px !important; }
    .TaskTable tbody tr .red {
      background: #ffd6d6 !important;
      color: #964646 !important;
      padding: 7px 16px;
      border-radius: 15px;
      border: 1px solid rgba(150, 70, 70, 0.27) !important; }
    .TaskTable tbody tr .green {
      background: #ddffe8 !important;
      color: #469660 !important;
      padding: 7px 16px;
      border-radius: 15px;
      border: 1px solid rgba(70, 150, 96, 0.27) !important; }
  .TaskTable .button-wrapper {
    position: absolute;
    top: 17px;
    right: 20px; }
    .TaskTable .button-wrapper button {
      padding: 0 !important;
      height: 24px !important;
      width: 24px !important; }
    .TaskTable .button-wrapper svg {
      height: 15px !important;
      width: 15px !important;
      fill: #5d6798 !important; }
    .TaskTable .button-wrapper span {
      position: relative;
      top: 4px !important;
      left: 4px !important;
      height: 16px !important;
      width: 16px !important; }
  .TaskTable .popover-wrapper {
    position: relative;
    top: 20px; }
  .TaskTable .task-dropdown-wrapper svg {
    height: 15px !important;
    width: 15px !important;
    fill: #5d6798 !important; }

.Home .dashboard-content {
  margin-left: 210px;
  margin-top: 60px;
  margin-right: 10px; }
  .Home .dashboard-content .see-all-wrapper {
    position: relative;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px); }
