.register {
  width: 400px;
  position: relative;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.75); }
  .register .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff; }
  .register .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .register .input-wrap {
    margin-bottom: 10px; }
  .register footer {
    font-size: 12px;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    background-color: #eee; }
  .register .logo-wrap {
    position: absolute;
    top: -40px; }
  .register img.logo {
    max-width: 160px;
    position: absolute; }
  .register .error {
    color: crimson;
    margin: 5px 0; }
  .register .register-link {
    text-decoration: none;
    padding: 20px;
    transition: all .1s linear; }
  .register .register-link:visited {
    color: inherit; }
  .register .register-link:hover {
    background-color: rgba(197, 210, 226, 0.5);
    color: #444444; }
