.reset-password {
  width: 400px;
  position: relative;
  box-shadow: 6px 6px 21px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px; }
  .reset-password .box-content {
    padding: 5px 30px 30px 30px;
    text-align: center;
    background: #fff;
    border-radius: 2px 2px 0 0; }
  .reset-password .box-header {
    color: #6b7c93;
    text-align: center;
    border-bottom: 1px solid #f7f7f7; }
  .reset-password .input-wrap {
    margin-bottom: 10px; }
  .reset-password footer {
    font-size: 12px;
    display: grid;
    text-align: center;
    grid-template-columns: 100%;
    background-color: #eee;
    border-radius: 0 0 2px 2px; }
  .reset-password .logo-wrap {
    position: absolute;
    top: -40px; }
  .reset-password img.logo {
    max-width: 160px;
    position: absolute; }
  .reset-password .error {
    color: crimson;
    margin: 5px 0; }
  .reset-password .reset-link {
    text-decoration: none;
    padding: 20px;
    transition: all .1s linear; }
  .reset-password .reset-link:visited {
    color: inherit; }
  .reset-password .reset-link:hover {
    background-color: rgba(197, 210, 226, 0.5);
    color: #444444; }
  .reset-password .h4 {
    font-weight: 400;
    font-size: 20px; }
