.user-card {
  position: absolute;
  margin-top: 50px;
  text-align: center; }
  .user-card .avatar-wrapper {
    position: relative;
    padding-top: 20px;
    left: 37px; }
    .user-card .avatar-wrapper .user-avatar {
      border: 3px solid rgba(255, 255, 255, 0.3) !important; }
  .user-card .user-name {
    position: relative;
    top: -53px;
    left: 37px;
    color: #474747;
    font-size: 14px; }
  .user-card .settings-wrapper {
    position: relative;
    top: -40px;
    left: 80px; }
    .user-card .settings-wrapper .settings-button {
      background-color: #f2f8ff !important;
      height: 25px !important;
      width: 25px !important;
      border: 1px solid transparent !important;
      border-radius: 50%; }
      .user-card .settings-wrapper .settings-button svg {
        position: relative !important;
        left: -11px;
        top: -11px;
        height: 22px !important;
        width: 22px !important;
        fill: #474747 !important; }

aside.sidenav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3;
  overflow: hidden;
  width: 200px;
  background-color: #e2eeff; }
  aside.sidenav .menu-toggle {
    background: rgba(69, 75, 86, 0.2);
    position: absolute;
    right: 0;
    left: 0;
    height: 50px; }
  aside.sidenav .logo-wrap {
    max-width: 160px;
    margin-left: 30px;
    margin-top: 10px; }
  aside.sidenav .logo {
    padding-right: 9px;
    width: 80%; }
  aside.sidenav .img {
    max-width: 100%; }
  aside.sidenav .flat-button {
    display: flex;
    flex: 1; }
    aside.sidenav .flat-button .menu-item {
      text-decoration: none;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      padding-left: 25px; }
      aside.sidenav .flat-button .menu-item .button-text {
        margin-top: 5px;
        display: flex;
        flex: 1;
        margin-left: 10px;
        color: #95aac6 !important; }
      aside.sidenav .flat-button .menu-item svg {
        fill: #95aac6 !important; }
  aside.sidenav .flat-button:hover {
    background-color: rgba(0, 0, 0, 0.02) !important; }
    aside.sidenav .flat-button:hover .button-text {
      color: #65768e !important; }
    aside.sidenav .flat-button:hover svg {
      fill: #65768e !important; }
  aside.sidenav .flat-button:focus {
    background-color: rgba(232, 242, 255, 0.4) !important; }
  aside.sidenav .add-task-wrapper {
    position: relative;
    left: 50%;
    transform: translateX(-30%);
    top: 40px; }
